src/flows.json
[
    {
        "id": "2f5511852b7e056e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1",
        "type": "http in",
        "z": "2f5511852b7e056e",
        "name": "Connect to Device",
        "url": "/connect_device",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "2"
            ]
        ]
    },
    {
        "id": "2",
        "type": "function",
        "z": "2f5511852b7e056e",
        "name": "Check Connection",
        "func": "msg.url = \"http://localhost:5000/bp-monitor/check_connection\";\nmsg.method = \"POST\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "3"
            ]
        ]
    },
    {
        "id": "3",
        "type": "http request",
        "z": "2f5511852b7e056e",
        "name": "Flask Check",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 340,
        "wires": [
            [
                "4"
            ]
        ]
    },
    {
        "id": "4",
        "type": "json",
        "z": "2f5511852b7e056e",
        "name": "Parse Response",
        "property": "payload",
        "action": "",
        "x": 860,
        "y": 340,
        "wires": [
            [
                "5"
            ]
        ]
    },
    {
        "id": "5",
        "type": "switch",
        "z": "2f5511852b7e056e",
        "name": "Check Status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "6"
            ],
            [
                "7"
            ]
        ]
    },
    {
        "id": "6",
        "type": "http response",
        "z": "2f5511852b7e056e",
        "name": "Success Response",
        "statusCode": "200",
        "headers": {},
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "7",
        "type": "http response",
        "z": "2f5511852b7e056e",
        "name": "Error Response",
        "statusCode": "400",
        "headers": {},
        "x": 1300,
        "y": 400,
        "wires": []
    },
    {
        "id": "8",
        "type": "http in",
        "z": "2f5511852b7e056e",
        "name": "Start Measurement",
        "url": "/start_measurement",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "9"
            ]
        ]
    },
    {
        "id": "9",
        "type": "function",
        "z": "2f5511852b7e056e",
        "name": "Trigger Measurement",
        "func": "msg.url = \"http://localhost:5000/bp-monitor/start_measurement\";\nmsg.method = \"POST\";\nmsg.payload = { device_id: msg.payload.device_id };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "10"
            ]
        ]
    },
    {
        "id": "10",
        "type": "http request",
        "z": "2f5511852b7e056e",
        "name": "Flask Trigger",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 520,
        "wires": [
            [
                "11"
            ]
        ]
    },
    {
        "id": "11",
        "type": "json",
        "z": "2f5511852b7e056e",
        "name": "Parse Response",
        "property": "payload",
        "action": "",
        "x": 910,
        "y": 520,
        "wires": [
            [
                "12"
            ]
        ]
    },
    {
        "id": "12",
        "type": "http response",
        "z": "2f5511852b7e056e",
        "name": "Measurement Response",
        "statusCode": "200",
        "headers": {},
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "inject_start_pipeline",
        "type": "inject",
        "z": "2f5511852b7e056e",
        "name": "Start Pipeline on Boot",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 720,
        "wires": [
            [
                "exec_pipeline"
            ]
        ]
    },
    {
        "id": "exec_pipeline",
        "type": "exec",
        "z": "2f5511852b7e056e",
        "command": "/home/qul/Developments/College/final_project/.venv/bin/python3.12 /home/qul/Developments/College/final_project/backend/app/bp_monitor/bridging_pipeline.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Bridging Pipeline",
        "x": 450,
        "y": 720,
        "wires": [
            [
                "debug_stdout"
            ],
            [
                "debug_stderr"
            ],
            []
        ]
    },
    {
        "id": "debug_stdout",
        "type": "debug",
        "z": "2f5511852b7e056e",
        "name": "Pipeline Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 660,
        "wires": []
    },
    {
        "id": "debug_stderr",
        "type": "debug",
        "z": "2f5511852b7e056e",
        "name": "Pipeline Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 780,
        "wires": []
    }
]