src/flow.json
[
  {
    "id": "1",
    "type": "http in",
    "z": "flow",
    "name": "Connect to Device",
    "url": "/connect_device",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 100,
    "wires": [["2"]]
  },
  {
    "id": "2",
    "type": "function",
    "z": "flow",
    "name": "Check Connection",
    "func": "msg.url = \"http://localhost:5000/bp-monitor/check_connection\";\nmsg.method = \"POST\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 100,
    "wires": [["3"]]
  },
  {
    "id": "3",
    "type": "http request",
    "z": "flow",
    "name": "Flask Check",
    "method": "use",
    "ret": "txt",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 400,
    "y": 100,
    "wires": [["4"]]
  },
  {
    "id": "4",
    "type": "json",
    "z": "flow",
    "name": "Parse Response",
    "property": "payload",
    "action": "",
    "x": 550,
    "y": 100,
    "wires": [["5"]]
  },
  {
    "id": "5",
    "type": "switch",
    "z": "flow",
    "name": "Check Status",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "success", "vt": "str"},
      {"t": "else"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 100,
    "wires": [["6"], ["7"]]
  },
  {
    "id": "6",
    "type": "http response",
    "z": "flow",
    "name": "Success Response",
    "statusCode": "200",
    "headers": {},
    "x": 850,
    "y": 80,
    "wires": []
  },
  {
    "id": "7",
    "type": "http response",
    "z": "flow",
    "name": "Error Response",
    "statusCode": "400",
    "headers": {},
    "x": 850,
    "y": 120,
    "wires": []
  },
  {
    "id": "8",
    "type": "http in",
    "z": "flow",
    "name": "Start Measurement",
    "url": "/start_measurement",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 200,
    "wires": [["9"]]
  },
  {
    "id": "9",
    "type": "function",
    "z": "flow",
    "name": "Trigger Measurement",
    "func": "msg.url = \"http://localhost:5000/bp-monitor/start_measurement\";\nmsg.method = \"POST\";\nmsg.payload = { device_id: msg.payload.device_id };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 200,
    "wires": [["10"]]
  },
  {
    "id": "10",
    "type": "http request",
    "z": "flow",
    "name": "Flask Trigger",
    "method": "use",
    "ret": "txt",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 400,
    "y": 200,
    "wires": [["11"]]
  },
  {
    "id": "11",
    "type": "json",
    "z": "flow",
    "name": "Parse Response",
    "property": "payload",
    "action": "",
    "x": 550,
    "y": 200,
    "wires": [["12"]]
  },
  {
    "id": "12",
    "type": "http response",
    "z": "flow",
    "name": "Measurement Response",
    "statusCode": "200",
    "headers": {},
    "x": 700,
    "y": 200,
    "wires": []
  },
  {
    "id": "14",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "192.168.0.111",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "username": "espuser",
    "password": "esp32mqtt!"
  }
]
